* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Raleway";
}

html {
  font-size: 20px;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  border: 1px solid red;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.header section .logo {
  margin-right: 10vw;
}
.header section .nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin-right: 10vw;
}
.header section .nav-link {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #282B22;
  transition: all 0.2s linear;
}
.header section .nav-link:hover {
  color: #AE7B3C;
}
.header section .header__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin-right: 6vw;
}
.header section .header__phone {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1px;
}
.header section .header__phone a span {
  color: #282B22;
  font-family: "Lato";
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.main .carousel .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.main .carousel {
  height: 690px;
  position: relative;
  border: solid;
  overflow: hidden;
}
.main .carousel img.tvCabinet {
  position: absolute;
  top: -55px;
  z-index: 1;
  width: 100%;
  height: 750px;
}
.main .carousel .bgColor {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.85));
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.main .carousel .container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 10;
}
.main .carousel .container h1 {
  font-family: "Lato";
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}
.main .carousel .container p {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  color: white;
  width: 537px;
  margin-bottom: 50px;
}
.main .carousel .container button {
  height: 60px;
  padding: 22px 56px;
  background-color: #AE7B3C;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: white;
  display: flex;
  flex-direction: row;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #AE7B3C;
}/*# sourceMappingURL=style.css.map */