.header {
  %dfrc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  padding: 20px 0px;
  background-color: white;
  .container {
    @extend %dfrc;
    justify-content: space-between;
  }
  .logo img {
    width: 122px;
    height: 53px;
  }

  .nav-list {
    @extend %dfrc;
    gap: 40px;
  }

  .nav-item {
    @extend %dfrc;
    flex-direction: column;
    position: relative;
    div {
      width: 0%;
      height: 3px;
      background-color: $korichniy;
      position: absolute;
      top: 150%;
      transition: all 0.3s linear;
    }
    &:hover div {
      width: 100%;
    }
    &:hover a {
      color: $korichniy;
    }
  }

  .nav-link {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: $qora;
    transition: all 0.3s linear;
  }

  .social {
    @extend %dfrc;
    gap: 15px;

    a {
      @extend %dfrc;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .phone {
    @extend %dfrc;
    a {
      @extend %dfrc;
      gap: 7px;
      img {
        width: 22px;
        height: 22px;
      }
      span {
        font-family: 'Lato';
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        text-align: left;
        color: $qora;
      }
    }
  }
}



